body, html{ background-color: #000000; color: #FFFFFF; }
#header-nav{background-color: #000000; color: #FFFFFF;}
#page-wrapper{background-color: #000000; color: #FFFFFF;}
.navbar-default{background-color: #000}
.grid{background-color: #000000;}
.table-striped > tbody > tr:nth-of-type(2n+1){ background-color: #111111;}
.table-hover > tbody > tr:hover{background-color: #333333;}
.dashboard-content .panel-default .panel-heading {color: #333; background-color: #131212; border-color: #ddd;}
.panel{background-color: #131212;}
.angular-google-map-container { height: 400px; }
p.channel_check { width: 30px; text-align:center; float: left; }
p.channel_check input[type="checkbox"] { margin: 10px 0px 0px 0px; }
p.channel_check label { font-weight:normal; display: block; }
.tab-pane { margin: 20px 0px 12px; }
.tab-header { margin: 0px 0px 17px; }
.vis-item { font-size: 85%; }
.vis-item.error { background-color: orangered; border-color: darkred; }
.vis-item.warning { background-color: gold; border-color: orange; }
.vis-item.info { background-color: lightgray; border-color: darkgray; }
.vis-item.up { }
.vis-item.re-up { background-color: gold; border-color: orange; }
.vis-item.down { background-color: paleturquoise; border-color: darkturquoise; }
.vis-item.bcast { background-color: paleturquoise; border-color: darkturquoise; }
